upstreams:
  init:
    # Configure startup behavior.
    # accepted: blocking, failOnError, fast
    # default: blocking
    strategy: blocking
  groups:
    default:
    - https://unfiltered.adguard-dns.com/dns-query
    - tcp-tls:unfiltered.adguard-dns.com
    - https://dns.bebasid.com/unfiltered
    - tcp-tls:unfiltered.dns.bebasid.com
    - https://doh.opendns.com/dns-query
    - https://doh.cleanbrowsing.org/doh/security-filter
    - tcp-tls:security-filter-dns.cleanbrowsing.org
    - https://dns.cloudflare.com/dns-query
    - tcp-tls:1dot1dot1dot1.cloudflare-dns.com
    - tcp-tls:dnsovertls.sinodun.com
    - tcp-tls:dnsovertls1.sinodun.com
    - tcp-tls:anycast.censurfridns.dk
    - https://doh.dns.sb/dns-query
    - https://dns.google/dns-query
    - tcp-tls:dns.google
    - https://anycast.dns.nextdns.io
    - tcp-tls:anycast.dns.nextdns.io
    - https://open.dns0.eu
    - tcp-tls:open.dns0.eu
    - https://dns.quad9.net/dns-query
    - tcp-tls:dns.quad9.net
    - https://doh.applied-privacy.net/query
    - tcp-tls:dot1.applied-privacy.net
    - https://dns.digitale-gesellschaft.ch/dns-query
    - tcp-tls:dns.digitale-gesellschaft.ch
    - https://kaitain.restena.lu/dns-query
    - tcp-tls:kaitain.restena.lu
    - https://blitz.ahadns.com
    - https://dns.artikel10.org/dns-query
    - https://dns.digitalsize.net/dns-query
    - https://doh.dns4all.eu/dns-query
    - https://ams01.dnscry.pt/dns-query
    - https://cvt01.dnscry.pt/dns-query
    - https://dub01.dnscry.pt/dns-query
    - https://dus01.dnscry.pt/dns-query
    - https://eyg01.dnscry.pt/dns-query
    - https://fra01.dnscry.pt/dns-query
    - https://gva01.dnscry.pt/dns-query
    - https://hel01.dnscry.pt/dns-query
    - https://ist01.dnscry.pt/dns-query
    - https://lon01.dnscry.pt/dns-query
    - https://mad01.dnscry.pt/dns-query
    - https://mil01.dnscry.pt/dns-query
    - https://muc01.dnscry.pt/dns-query
    - https://nue01.dnscry.pt/dns-query
    - https://omr01.dnscry.pt/dns-query
    - https://par01.dnscry.pt/dns-query
    - https://sof01.dnscry.pt/dns-query
    - https://sto01.dnscry.pt/dns-query
    - https://dns.dnswarden.com/uncensored
    - https://ns0.fdn.fr/dns-query
    - https://ns1.fdn.fr/dns-query
    - https://doh.ffmuc.net/dns-query
    - https://doh.lacontrevoie.fr/dns-query
    - https://doh.libredns.gr/dns-query
    - https://dns.mullvad.net/dns-query
    - https://dns11.quad9.net/dns-query
    - tcp-tls:p0.freedns.controld.com
    - https://freedns.controld.com/p0
    - https://us1.blissdns.net/dns-query
    - tcp-tls:us1.blissdns.net
    - https://dns.aquilenet.fr/dns-query
    - https://resolver1.absolight.net/dns-query
    - https://resolver2.absolight.net/dns-query
    - https://resolver3.absolight.net/dns-query

  # accepted: parallel_best, strict, random
  # default: parallel_best
  strategy: random
  timeout: 2s
  # optional: HTTP User Agent when connecting to upstreams. Default: none
  #userAgent: "custom UA"

# accepted: dual, v4, v6
connectIPVersion: dual

blocking:
  denylists:
    ads:
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/ultimate.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/tif.txt

  allowlists:
     ads:
      - https://raw.githubusercontent.com/iam-py-test/allowlist/main/allowlist.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/whitelist-referral.txt
      - https://raw.githubusercontent.com/dnswarden/blocklist-staging/main/whitelist/whitelistcommon.txt
      - https://raw.githubusercontent.com/dnswarden/blocklist-staging/main/whitelist/tinylist.txt
      - |
        *.koyeb.app
  clientGroupsBlock:
    default:
      - ads
  blockType: zeroIp
  blockTTL: 15m
  loading:
    refreshPeriod: 12h
    downloads:
      timeout: 600s
      attempts: 5
      cooldown: 3s
    concurrency: 4
    # default: blocking failOnError fast
    strategy: blocking
    # default: 5 -1 disable
    maxErrorsPerSource: -1

caching:
  minTime: 10m
  maxTime: 72h
  maxItemsCount: 0
  prefetching: true
  prefetchExpires: 24h
  prefetchThreshold: 2
  prefetchMaxItemsCount: 0
  cacheTimeNegative: 30m

# optional: Mininal TLS version that the DoH and DoT server will use
minTlsServeVersion: 1.2

# if https port > 0: path to cert and key file for SSL encryption. if not set, self-signed certificate will be generated
#certFile: server.crt
#keyFile: server.key

# optional: use these DNS servers to resolve blacklist urls and upstream DNS servers. It is useful if no system DNS resolver is configured, and/or to encrypt the bootstrap queries.
bootstrapDns:
  - tcp+udp:2606:4700:4700::1111
  - tcp+udp:2606:4700:4700::1001
  - tcp+udp:209.244.0.4
  - tcp+udp:2001:4860:4860:0:0:0:0:8888
  - tcp+udp:2001:4860:4860:0:0:0:0:8844
  - tcp+udp:76.76.2.0
  - tcp+udp:2606:1a40:0000:0000:0000:0000:0000:0000
  - tcp+udp:9.9.9.10
  - tcp+udp:8.8.4.4
  - tcp+udp:64.6.64.6
  - tcp+udp:2a03:90c0:999d::1
  - tcp+udp:2620:74:1b::1:1
  - tcp+udp:208.67.222.222
  - tcp+udp:95.85.95.85
  - upstream: https://dns.quad9.net/dns-query
    ips:
      - 9.9.9.9
      - 149.112.112.112
      - 2620:fe::fe
      - 2620:fe::9
  - upstream: https://dns.google/dns-query
    ips:
      - 8.8.8.8
      - 8.8.4.4
      - 2001:4860:4860:0:0:0:0:8888
      - 2001:4860:4860:0:0:0:0:8844
  - upstream: https://cloudflare-dns.com/dns-query
    ips:
      - 1.1.1.1
      - 1.0.0.1
      - 2606:4700:4700::1111
      - 2606:4700:4700::1001
# optional: return NXDOMAIN for queries that are not FQDNs.
fqdnOnly:
  # default: false
  enable: true

ports:
  dns: 3267
 # tls: 853
#  https: 443
  http: 8100

log:
  # optional: Log level (one from debug, info, warn, error). Default: info
  level: error
  # optional: Log format (text or json). Default: text
  format: text
  # optional: log timestamps. Default: true
  timestamp: false
  # optional: obfuscate log output (replace all alphanumeric characters with *) for user sensitive data like request domains or responses to increase privacy. Default: false
  privacy: true

# optional: add EDE error codes to dns response
ede:
  # enabled if true, Default: false
  enable: false

# optional: configure optional Special Use Domain Names (SUDN)
specialUseDomains:
  # optional: block recomended private TLDs
  # default: true
  rfc6762-appendixG: true
ecs:
   useAsClient: false
   forward: true
   ipv4Mask: 24
   ipv6Mask: 56
