upstreams:
  init:
    # Configure startup behavior.
    # accepted: blocking, failOnError, fast
    # default: blocking
    strategy: fast
  groups:
    default:
    - https://resolver1.absolight.net/dns-query
    - https://resolver2.absolight.net/dns-query
    - https://resolver3.absolight.net/dns-query
    - https://unfiltered.adguard-dns.com/dns-query
    - https://blitz.ahadns.com
    - https://dns.aa.net.uk/dns-query
    - https://arashi.net.eu.org/dns-query
    - https://ns.net.kg/dns-query
    - https://dns.artikel10.org/dns-query
    - https://dns.belnet.be/dns-query
    - https://doh1.b-cdn.net/dns-query
    - https://private.canadianshield.cira.ca/dns-query
    - https://doh.opendns.com/dns-query
    - https://doh.cleanbrowsing.org/doh/security-filter/
    - https://security.cloudflare-dns.com/dns-query
    - https://dns64.cloudflare-dns.com/dns-query
    - https://freedns.controld.com/x-hagezi-ultimate
    - https://odvr.nic.cz/dns-query
    - https://doh.denypradana.com/dns-query
    - https://dns.digitale-gesellschaft.ch/dns-query
    - https://dns.digitalsize.net/dns-query
    - https://doh.dns.sb/dns-query
    - https://doh.sb/dns-query
    - https://dns0.eu
    - https://doh.dns4all.eu/dns-query
    - https://uk01.dns4me.net
    - https://de01.dns4me.net
    - https://ams01.dnscry.pt/dns-query
    - https://cph01.dnscry.pt/dns-query
    - https://cvt01.dnscry.pt/dns-query
    - https://dub01.dnscry.pt/dns-query
    - https://dus01.dnscry.pt/dns-query
    - https://eyg01.dnscry.pt/dns-query
    - https://fra01.dnscry.pt/dns-query
    - https://gva01.dnscry.pt/dns-query
    - https://hel01.dnscry.pt/dns-query
    - https://lon01.dnscry.pt/dns-query
    - https://mad01.dnscry.pt/dns-query
    - https://mil01.dnscry.pt/dns-query
    - https://nue01.dnscry.pt/dns-query
    - https://omr01.dnscry.pt/dns-query
    - https://par01.dnscry.pt/dns-query
    - https://trf01.dnscry.pt/dns-query
    - https://sof01.dnscry.pt/dns-query
    - https://sto01.dnscry.pt/dns-query
    - https://tll01.dnscry.pt/dns-query
    - https://vie01.dnscry.pt/dns-query
    - https://dns1.dns-ga.de/dns-query
    - https://dns2.dns-ga.de/dns-query
    - https://dns3.dns-ga.de/dns-query
    - https://dns.dnshome.de/dns-query
    - https://ns0.fdn.fr/dns-query
    - https://ns1.fdn.fr/dns-query
    - https://doh.ffmuc.net/dns-query
    - https://resolv.flokinet.net/dns-query
    - https://doh.applied-privacy.net/query
    - https://dns.google/dns-query
    - https://8888.google/dns-query
    - https://dns64.dns.google/dns-query
    - https://dns.hostux.net/dns-query
    - https://ordns.he.net
    - https://dns1.in-berlin.de/dns-query
    - https://dns2.in-berlin.de/dns-query
    - https://doh.lacontrevoie.fr/dns-query
    - https://eu1.dns.lavate.ch/dns-query
    - https://doh.libredns.gr/dns-query
    - https://dns.mullvad.net/dns-query
    - https://dns.njal.la/dns-query
    - https://ns1.opennameserver.org/dns-query
    - https://ns4.opennameserver.org/dns-query
    - https://doh.qis.io/dns-query
    - https://dns11.quad9.net/dns-query
    - https://dnspub.restena.lu/dns-query
    - https://sky.rethinkdns.com/dns-query
    - https://dns.rbn.gr/dns-query
    - https://safeservedns.com/dns-query
    - https://resolv1.trash.net/trash-dns
    - https://resolv2.trash.net/trash-dns
    - https://anycast.uncensoreddns.org/dns-query
    - https://wikimedia-dns.org/dns-query
    - https://0ms.dev/dns-query
    - https://0ms.dev/dns6
    - https://doh-2.seby.io/dns-query
    
  # accepted: parallel_best, strict, random
  # default: parallel_best
  strategy: parallel_best
  timeout: 5s
  # optional: HTTP User Agent when connecting to upstreams. Default: none
  #userAgent: "custom UA"

# accepted: dual, v4, v6
connectIPVersion: dual
blocking:
  denylists:
    ads:
      - https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/ultimate.txt
      - https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/popupads.txt
      - https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/tif.txt
      - https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/hoster.txt
      - http://sbc.io/hosts/hosts
  allowlists:
     ads:
    #  - https://raw.githubusercontent.com/m0zgen/dns-hole/refs/heads/master/whitelist.txt
    #  - https://raw.githubusercontent.com/iam-py-test/allowlist/main/allowlist.txt
     # - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/whitelist-referral.txt
    #  - https://raw.githubusercontent.com/dnswarden/blocklist-staging/main/whitelist/whitelistcommon.txt
    #  - https://raw.githubusercontent.com/dnswarden/blocklist-staging/main/whitelist/tinylist.txt
    #  - https://raw.githubusercontent.com/m0zgen/dns-hole/refs/heads/master/regex/common-wl.txt
      - |
        *.koyeb.app
        *.debugbear.com
        *.vk.com
  clientGroupsBlock:
    default:
      - ads
  blockType: zeroIp
  blockTTL: 10s
  loading:
    refreshPeriod: 8h
    downloads:
      timeout: 600s
      writeTimeout: 60s
      readTimeout: 60s
      readHeaderTimeout: 60s
      attempts: 3
      cooldown: 10s
    concurrency: 8
    # default: blocking failOnError fast
    # default: 5 -1 disable
    maxErrorsPerSource: -1

caching:
  minTime: 15m
  maxTime: 72h
  maxItemsCount: 10000
  prefetching: true
  prefetchExpires: 2h
  prefetchThreshold: 5
  prefetchMaxItemsCount: 1000
  cacheTimeNegative: 30m

# optional: Mininal TLS version that the DoH and DoT server will use
minTlsServeVersion: 1.2

# if https port > 0: path to cert and key file for SSL encryption. if not set, self-signed certificate will be generated
#certFile: server.crt
#keyFile: server.key

# optional: use these DNS servers to resolve blacklist urls and upstream DNS servers. It is useful if no system DNS resolver is configured, and/or to encrypt the bootstrap queries.
bootstrapDns:
  - tcp+udp:2606:4700:4700::1111
  - tcp+udp:2606:4700:4700::1001
  - tcp+udp:209.244.0.4
  - tcp+udp:2001:4860:4860:0:0:0:0:8888
  - tcp+udp:2001:4860:4860:0:0:0:0:8844
  - tcp+udp:76.76.2.0
  - tcp+udp:2606:1a40:0000:0000:0000:0000:0000:0000
  - tcp+udp:9.9.9.10
  - tcp+udp:8.8.4.4
  - tcp+udp:64.6.64.6
  - tcp+udp:2a03:90c0:999d::1
  - tcp+udp:2620:74:1b::1:1
  - tcp+udp:208.67.222.222
  - tcp+udp:95.85.95.85
  - upstream: https://dns.quad9.net/dns-query
    ips:
      - 9.9.9.9
      - 149.112.112.112
      - 2620:fe::fe
      - 2620:fe::9
  - upstream: https://dns.google/dns-query
    ips:
      - 8.8.8.8
      - 8.8.4.4
      - 2001:4860:4860:0:0:0:0:8888
      - 2001:4860:4860:0:0:0:0:8844
  - upstream: https://cloudflare-dns.com/dns-query
    ips:
      - 1.1.1.1
      - 1.0.0.1
      - 2606:4700:4700::1111
      - 2606:4700:4700::1001
# optional: return NXDOMAIN for queries that are not FQDNs.
fqdnOnly:
  # default: false
  enable: true

ports:
  dns: 5353
 # tls: 853
#  https: 443
  http: 8100
  dohPath: /thanksforallthefish

log:
  # optional: Log level (one from debug, info, warn, error). Default: info
  level: error
  # optional: Log format (text or json). Default: text
  format: text
  # optional: log timestamps. Default: true
  timestamp: false
  # optional: obfuscate log output (replace all alphanumeric characters with *) for user sensitive data like request domains or responses to increase privacy. Default: false
  privacy: true

# optional: add EDE error codes to dns response
ede:
  # enabled if true, Default: false
  enable: false

# optional: configure optional Special Use Domain Names (SUDN)
specialUseDomains:
  # optional: block recomended private TLDs
  # default: true
  rfc6762-appendixG: true
ecs:
   useAsClient: false
   forward: false
   ipv4Mask: 0
   ipv6Mask: 0
