name: Build and Release

on:
  workflow_dispatch:

  
jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:

          
      - name: Set up Go
        uses: actions/setup-go@v5    
        with:
         go-version: '1.23'
         cache: false
      - name: build
        run: |
          curl -LJo ./get.sh https://raw.githubusercontent.com/t-e-s-tweb/lists/xx/get.sh
          chmod +x get.sh
          ./get.sh
         
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./xa*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
